footer {
  background-color: #1f2833;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

#footer-social-midia {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-ul-social-midia {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  width: 15%;
}

#footer-info {
  width: 50%;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

#footer-ul-info {
  list-style: none;
  width: 70%;
  display: flex;
  display: flex;
  justify-content: space-around;
}

#footer-ul-info a {
  text-decoration: none;
  color: #00d4ff;
}

#footer-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#logo {
  width: 100%;
  height: 100%;
}

hr {
  width: 80%;
  border: 0.5px solid rgb(18, 11, 31);
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  svg {
    width: 25px;
    height: 25px;
    margin: 0.5rem;
  }
  #footer-ul-info a {
    font-size: 0.5rem;
    margin-left: 1rem;
  }
  #footer-logo {
    margin-bottom: 0.5rem;
    align-items: center;
  }
  #footer-info {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  #footer-info{
    margin-bottom: 1rem;
  }
  #footer-social-midia {
    margin-bottom: -3rem;
}

}

@media screen and (max-width: 300px) {
  #footer-ul-info a {
    font-size: 0.5rem;
  }
}

