body {
  background-color: #1f2833;
}

main {
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #1f2833;
  margin-top: -1rem;
}

.main-section-card-1 {
  height: 50%;
  width: 80%;
  border-radius: 10px;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-section-card2 {
  height: 50%;
  width: 80%;
  border-radius: 10px;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#card-1,
#card-2,
#card-3 {
  background: #5f2f55;
  background: -webkit-linear-gradient(to right, #a8caba, #5d4157);
  background: linear-gradient(to right, #a8caba, #5d4157);
  border-radius: 30px;
  font-family:'Courier New', Courier, monospace;
  box-shadow: 10px 10px 5px rgb(13, 13, 14);
  font-family:'Courier New', Courier, monospace;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#card-4,
#card-5,
#card-6 {
  background: #884c7b;
  background: -webkit-linear-gradient(to right, #a8caba, #5d4157);
  background: linear-gradient(to right, #a8caba, #5d4157);
  border-radius: 30px;
  box-shadow: 10px 10px 5px rgb(23, 24, 24);
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#card-1:hover {
  background: #616161; 
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
}
#card-2:hover {
  background: #616161; 
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
}
#card-3:hover {
  background: #616161; 
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
}
#card-4:hover {
  background: #616161; 
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
}
#card-5:hover {
  background: #616161; 
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
}
#card-6:hover {
  background: #616161; 
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); 
}

svg:hover {
 color: rgb(204, 0, 255);
}

#footer-ul-info a:hover {
 color: rgb(204, 0, 255);
}

.card{
    color: thistle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  color: rgb(76, 224, 150);
  margin-top: 5px;
  margin-left: 30px;
}

.img {
  border-radius: 100%;
  border: #1f2833 solid 5px;
  width: 12em;
  height: 12em;
  background-color: #1f2833;
  margin: 0 0 50px 0;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
} 

.card h2{
   font-family: "Sekuya", system-ui;
}


@media screen and (max-width: 900px) {
    .img {
        width: 5em;
        height: 5em;
        margin: 0 0 20px 0;
    }

    .stats{
        font-size: 12px;
        margin-left: 10px;
    }

    .card h2{
        font-size: 18px;
    }
    #footer-ul-info a{
        font-size: 12px;
    }

}

